
.header__half {
    z-index: 2;
    display: flex;
    align-items: center;
    width: calc(var(--width) / 2);
}

header svg {
    width: 7vh;
    margin-left: 1.5vh;
    margin-top: 2vh;
    fill: var(--color-background);
}

header a {
    font-size: 1.2vh;
    color: var(--color-button);
    text-decoration: none;
    margin-left: 1vh;
}

.header__working-place{
    margin-left: 3vh;
}

.header__working-place{
    color: var(--color-background);
}

.header__timer{
    margin-left: auto;
    margin-right: 2vh;
}
