.timer__time-panel {
    width: 91%;
    height: 36.6%;
    padding: 0;
}

.timer__clock-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    position: relative;
    /*border: #6a1a21 solid;*/
}

.timer__clock {
    font-family: var(--font);
    line-height: 60%;
    font-size: 83.33px;
    position: absolute;
}
.timer__clock-top {
    right: 10%;
    bottom: 0;
}
.timer__clock-bottom {
    right: 10%;
    bottom: 6%;
}

.timer__time-signature {
    font-family: var(--font);
    font-size: 10px;
    position: absolute;
    right: 78%;
    bottom: 30%;
}

.timer__time-title {
    font-family: var(--font);
    font-size: 16px;
    margin-bottom: 10px;
}

.timer__white-bar {
    float: left;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 80%;
    background: var(--color-background);
    border-radius: 16.6662px;
    box-shadow: inset 0 6.66647px 6.66647px rgba(0, 0, 0, 0.25);
}

.timer__blue-bar {
    position: absolute;
    width: 30%;
    height: 100%;
    background: var(--gradient-timer);
    border-radius: 16.6662px 0 0 16.6662px;
    box-shadow: inset 0 6.66647px 6.66647px rgba(0, 0, 0, 0.25);
}

.timer__right-panel {
    width: 250px;
    height: 420px;
    background-color: var(--color-support-light);
    border-radius: 8px;
}

.timer__digit {
    display: inline;
    font-family: var(--font);
}

.timer__digit-left {
    text-align: left;
}

.timer__colon {
    text-align: center;
}

.timer__digit-right {
    text-align: right;
}