<!doctype html>
<html xmlns:th="https://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Login</th>
        <th>Password</th>
        <th>Salt</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="worker : ${workers}">
        <td th:text="${worker.name}"></td>
        <td th:text="${worker.surname}"></td>
        <td th:text="${worker.login}"></td>
        <td th:text="${worker.password}"></td>
        <td th:text="${worker.salt}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>